@charset "UTF-8";

/* Paleta
#90B555 - Verde-Escuro
#B9E86D - Verde-Claro
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #B9E86D;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);

    transition: width .3s, heigth .3s ;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #90B555 url(../imagens/img-login.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    height: 250px;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p {
    text-align: justify;
}

form > div.campo{
    display: block;
    background-color: #637c3b;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px ;

}

form > div.campo  label > span.material-symbols-outlined {
    display: flexbox;
    color: white;
    
} 

form > input[type= submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #98be59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    margin-top: 5px;

}

form > input[type= submit]:hover{
    background-color: #637c3b;
}

form > a.botao {
    display: block;
    margin-top: 5px;
    padding-top: 7px;

    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 1em;
    background-color: none;
    border: 1px solid  #86a94f;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #89ab52;
    color: white;
}

form > a.botao > i{
    font-size: .8em;
}